* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

.container {
    width: 100%;
} 

/* TOPO (inclui logo do rodapé) */
.topo {
 display: flex;
 justify-content: space-around;
 align-items: center;
 flex-wrap: wrap;
 gap: 10px;
 background-color: #fff;
 color: #000;
 padding: 20px 30px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 80px;
    padding-right: 10px;
}

.logo .titulo {
    font-size: 2em;
    font-weight: bold;
    color: #000;
}

.logo p {
    font-size: 0.8em;
    font-weight: bold;
    color: #2f86d6;
}

.links-topo {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style-type: none;
    font-weight: bold;
    font-size: 1.5em;
}

.links-topo a {
    text-decoration: none;
    margin: 10px 15px;
    color: #233032;
}

/* Banner */
.banner {
    width: 100%;
    padding: 15px 0;
    background-color: #2f86d6;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: #fff;
}

.banner .banner-texto p {
    font-size: 1em;
}

.banner .banner-texto h2 {
    font-size: 1.8em;
    margin: 15px 5px;
}

.banner .banner-texto, .banner img {
    flex: 1 1 300px;
}

/* Primeiro e Segundo Anúncio */
.anuncio {
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: #fff;
}

.anuncio h2 {
    font-size: 1.5em;
}

.anuncio .link-tabela-precos {
    font-weight: bold;
    padding: 10px 20px;
}

.anuncio .link-tabela-precos a {
    text-decoration: none;
    color: #fff;
}

/* Primeiro Anúncio */
.anuncio-primeiro {
    background-color: #233032;
}

.anuncio-primeiro .link-tabela-precos {
    background-color: #2f86d6;
}

.anuncio-primeiro .link-tabela-precos img,
.anuncio-segundo .link-tabela-precos img {
    padding-right: 5px;
}

/* Segundo Anúncio */
.anuncio-segundo {
    background-color: #2f86d6;
}

.anuncio-segundo .link-tabela-precos {
    background-color: #233032;
}

/* Informações */
.informacoes {
    width: 100%;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.informacoes h2, .informacoes span {
    width: 75%;
    font-size: 28px;
    text-align: center;
}

.informacoes-itens {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    text-align: center;
}

.informacoes-itens h3 {
    padding-bottom: 10px;
    font-size: 1.2em;
}

.informacoes-itens li {
    width: 30%;
    padding-top: 20px;
}

.informacoes .informacoes-itens img {
    width: 100px;
    padding-bottom: 15px;
}

/* Planos */
.planos {
    width: 100%;
    padding: 15px 0;
    background-color: #f1f3f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.planos h2, .planos span {
    font-size: 28px;
    text-align: center;
}

.planos .tabela-precos {
    margin: 20px 0;
    width: 40%;
    height: 70%;
    text-align: center;
    box-shadow: 0 0 30px 15px #2f86d6;
}

.planos .tabela-precos thead th {
    padding: 5px 30px;
}

.planos .tabela-precos thead th p {
    font-size: 0.8em;
    color: #d5b99f;
}

.planos .tabela-precos th,
.planos .tabela-precos td {
    padding: 5px 10px;
}

.planos .tabela-precos tr:nth-child(even),
.planos .tabela-precos th {
    background-color: #fff;
}

.planos-icones {
    width: 80px;
}

/* Rodapé */
.rodape {
    width: 100%;
    height: 300px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.rodape .rodape-contato {
    text-align: center;
}

.rodape .dev {
    width: 100%;
    padding: 10px;
    background-color: #f1f3f7;
    text-align: center;
    font-weight: bold;
}

/* Destaque */
.destaque {
    color: #2f86d6;
}


